h1 Url Shortner


h4 Put long adress at the end of current address like this.
p https://url-shortener12.glitch.me/
 a(style="color:blue") developers.rebrandly.com
 
br

h4 Result
p https://goo.gl/mYDrQi
